.classCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.cardBody .card-title:hover {
  text-decoration: underline;
}

.classCard{
  position: absolute;
  display: flex;
}