body, h1 {
    margin: 0;
    padding: 0;
}

.HomePage {
    width: 100%;
    height: 100vh;
    background-image: url('./background.svg');
    background-size: auto;       /* Cover the entire viewport */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center;  /* Center the image vertically and horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rounded-pill {
    position: absolute;
    padding: 20px;
    background-color: #FFF387;
}
