.login-container {
  width: 300px;
  margin: 50px auto;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], /* Updated selector */
input[type="password"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

button {
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red; /* You can change the color to match your design */
  font-size: 14px; /* You can adjust the font size */
  margin-top: 10px; /* Add some spacing between the input fields and the message */
}
