.login-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}

form {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 20px;
  gap: 10px;
}

label {
  margin: 10px 0;
  font-weight: bold;
  display: block;  /* Make labels block-level to occupy their own line */
}

input {
  padding: 10px;
  margin-top: 5px; /* Space between label and input */
  border: 1px solid #ccc;
  border-radius: 3px;
}

.error-message {
  margin-top: 1rem;
  color: red;
  font-size: 0.9rem;
}
