.container {
    width: 100%;
    max-width: 800px;  /* Maximum width of the registration container */
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.SearchResultPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 5px;
    padding: 20px;

    gap: 10px;
}
