.container {
    width: 100%;
    max-width: 800px;  /* Maximum width of the registration container */
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.SearchResultPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 5px;
    padding: 20px;

    gap: 10px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel .carousel-indicators {
    background-color: rgba(0, 0, 0, 0.1) !important;
    margin-left: 20%;
    margin-right: 20%;

    border-radius: 5px;
}
.carousel .carousel-indicators .active {
    background-color: rgba(146, 112, 228, 0.452) !important;
}