form label{
    width: 20%;
    display: inline-block;
}

form input{
    width: 30% ;
    display: inline-block;
}

.search-align-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}