.Template {
    font-family: "Roboto-Bold", Helvetica;
    display: flex;
    flex-direction: column;
    background: linear-gradient(30deg, rgb(76, 188, 96) 0%, rgb(120, 106, 214) 100%);
    width: 100%;
    min-height: 100vh;

}

.Nav-Main {
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative; /* Added to ensure header is on top of sidebar */
    z-index: 2;
}

.Nav-Main-Left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Nav-Main-Right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; /* Added to ensure header is on top of sidebar */
    z-index: 2;
}

.custom-link {
    color: #f4f4f4 !important;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 25px;
    line-height: normal;

    text-align: center;
    text-shadow: 0px 4px 4px #00000080;
    white-space: nowrap;
  }

.Body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}


.nav-item {
    margin: 0 15px;
    text-decoration: none;

    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #0077cc;
    border-radius: 5px;
}


nav input[type="text"] {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
}


.avatar-dropdown {

  background-color: transparent !important;
  border: none !important;
  margin: 0 !important;
  padding-left: 10 !important;
}

.avatar-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}


.Footer {
    background-color: #f7f7f7;
    border-top: 1px solid #e0e0e0;
    padding: 10px 20px;
    text-align: center;
}

.dropdown-toggle {
    width: 80px;
    height: 80px;
}